doctype html 
html(lang="ko")
    head   
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header
             h1=pageTitle /*h1에 =을 붙이고 variable을 쓰면 텍스트가 아닌 variable로 인식이 됨. #{pageTitle}로 적는 것과 같음.다만 다른 텍스트와 섞어 쓰지 않기때문에 이렇게 쓰지 않음*/
             nav 
                ul 
                   li 
                      a(href="/") Home
                   if loggedIn 
                      li 
                         a(href="/logout") Log Out
                      li 
                         a(href="/my-profile") #{loggedInUser.name}의 프로필
                   else 
                      li 
                         a(href="/join") Join
                      li 
                         a(href="/login") Login
                   li 
                      a(href="/search") Search
                   li  
                      a(href="/videos/upload") Upload Video
        main
             block content
    include partials/footer.pug